<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name ="Incubadora"  connectionString ="Data Source=SYS21VI-PC;Initial Catalog=Incubadora;Integrated Security=True" providerName ="Proveedor de datos de .NET Framework para servidor SQL Server"/>
  </connectionStrings>
</configuration>