<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    
    <!--<add name ="Incubadora"  connectionString ="Data Source=localhost\SQLEXPRESS;Initial Catalog=Incubadora;Integrated Security=True" providerName ="System.Data.SqlClient"/>-->
    
    <!--<add name="Incubadora"
        connectionString="Data Source=MARGARITA\SQLEXPRESS;Initial Catalog=Incubadora;Integrated Security=True"
        providerName="System.Data.SqlClient" />-->
    
    <add name ="Incubadora"  connectionString ="Data Source=SYS21ALIEN02-PC\SQLEXPRESS;Initial Catalog=Incubadora;Database=Incubadora ;User Id=Daniel; Password=123;Integrated Security=True" providerName ="Proveedor de datos de .NET Framework para servidor SQL Server"/>
  </connectionStrings>
</configuration>